main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    color: #D5A85D;
    font-size: 2rem;
}

h2{
    color: gray;
}

h3{
    color: #D5A85D;
}

p{
    color: #252f3f;
}

.unidades{
    margin: 20px;
}

.contato-content {
    display: flex;
    color: white;
    width: 80%;
    padding: 50px;
    border-radius: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
}

#btn_enviar{
    background-color: #D5A85D;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

#btn_enviar:hover {
    filter: brightness(80%);
}



.form_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_items {
    width: 400px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}

textarea {
    padding: 5px;
}